@charset "UTF-8";
html {
  --blue: #3485FF;
  --black: #0D114F;
  --white: #FAFAFA;
  --red: #E83F5B;
  --light-blue: #E0ECFF;
  --background: #FBFCFF;
  --overlay: #040911;
  --icons-details: #A5B0C1;
  --grey-dark: #4D5E77;
  --grey-blue:  #A1B2CD;
  --grey-medium: #D3D9E2;
  --grey-light: #E5EAF1;
  --hover-blue: #5699FF;
  --hover-red: #EA4B65;
  --hover-grey:#8794A7;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
}

body, input, button, textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
}

.content header {
  width: 80%;
  margin: 3.5rem auto;
}

.content header > img {
  width: 23.8rem;
}

.flex-center, .btn-blue, .btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  clip-path: rect(0, 0, 0, 0);
}

.content {
  width: 100%;
  margin: 0 auto;
}

input, textarea {
  border: 2px solid var(--grey-blue);
  border-radius: 8px;
  padding: 13px 12px 13px 16px;
  display: flex;
  align-items: center;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
  color: var(--black);
}

/* -------- Botões ---------*/
.btn-blue {
  background-color: var(--blue);
  color: var(--white);
}

.btn-white {
  border: 2px solid var(--blue);
  color: var(--blue);
  background-color: var(--white);
}

.btn-blue, .btn-white {
  cursor: pointer;
  border-radius: 8px;
  padding: 13px 0;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  transition: filter .2s;
}

.btn-blue > img, .btn-white > img {
  margin: 0 1rem;
}

button:hover {
  filter: brightness(1.2);
}
