<section>
    <h2>Entre Como participante</h2>
    <form action="/room/" method="POST">
        <label for="room-id" class="sr-only"></label>
        <input type="text" name="room" placeholder="Código da Sala" id="room-id">
        <button class="btn-blue">
            <img src="/images/log-in.svg" alt="Login">
            Entrar na Sala
        </button>
    </form>
</section>

<div class="separador">
    <div class="line"></div>
    <div class="text">ou</div>
    <div class="line"></div>
</div>

<section>
    <h2>Crie sua própria sala, de forma fácil</h2>
    <div class="btn-white">
        <a class="flex-center" href="/create">
            <img src="/images/users.svg" alt="Criar">
            Criar sala
        </a>
    </div>
</section>